@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
    font-family: "Outfit", sans-serif;
    background-color: white;
    color: black;
}
.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 2s linear infinite;
    color: black;
  }
  .loader:before {
    content:"Blogs loading..."
  }
  @keyframes l2 {to{background-size: 100% 3px}}